[Unit]
Description=Sync power mode with current power source
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/power-mode-auto-changer/switch-power-mode.sh
User=root

[Install]
WantedBy=multi-user.target