[Unit]
Description=Sync power mode with current power source

[Service]
Type=oneshot
ExecStart=/usr/local/bin/power-mode-auto-changer-service

[Install]
WantedBy=default.target