Package: power-mode-auto-changer
Version: 2.0.6
Section: system
Priority: optional
Architecture: all
Maintainer: Eugene Lazarchuk
Depends: bash, systemd, udev, power-profiles-daemon, python3, python3-gi, gir1.2-gtk-3.0
Conflicts: tlp
Installed-Size: 408
Description: Auto power mode (profile) switcher for Linux Mint
  Automatically switches power modes in Linux Mint based on AC or battery status, with smart profile detection and desktop notifications.
