Package: power-mode-auto-changer
Version: 2.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Eugene Lazarchuk
Depends: bash, systemd, udev
Description: Auto power mode switcher for Linux Mint
 Minimal system service with udev integration.
